<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/analysis.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
        <title>
            Classifier App
        </title>
    </head>

    <body>
        <div class="Header">
            <h1>
                Analysis Page
            </h1> 
        </div>

        <div class="Content">
            <div class="MyFormsHeader">
                <p>
                    Analysis Page
                </p>
            </div>

            <div class="MyForm">
                <form action = "http://127.0.0.1:5000" enctype = "multipart/form-data">
                    <button type="submit">Return Home</button>
                </form>  
            </div>   
        </div>
    </body>


</html>