<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
        <title>
            Classifier App
        </title>
    </head>

    <body>
        <h1>
            Welcome to App Store Bug Classifier
        </h1>
        {% for Names in content %}
            <p>{{Names}}</p>
        {% endfor %}
    </body>


</html>